<html> 

<head>
    <meta charset="utf-8" />
    <title>About Etel Adnan</title>
    <link rel="stylesheet" href="/style-about.css">
</head>

<body> 

    <div id = info> 
        <p>
            Etel Adnan, is a highly regarded Lebanese-American poet, essayist, and visual artist. She was born on February 24, 1925, in Beirut, Lebanon. Adnan's work often explores themes of identity, war, politics, and the natural world. She has written poetry in both English and French and is known for her minimalist and evocative style.

Adnan gained international recognition for her book "Sitt Marie Rose," a novel that explores the complexities of the Lebanese Civil War. She has also published numerous collections of poetry, essays, and visual art.

In addition to her literary contributions, Adnan is an accomplished visual artist, known for her abstract paintings inspired by nature and her experiences. Her artwork has been exhibited in galleries and museums around the world.

Throughout her career, Adnan has been recognized with numerous awards and honors for her contributions to literature and art. She continues to be an influential figure in the world of poetry and visual arts.
        </p>
    </div>
</body>
<script src="../app.js"></script>
</html>