<html> 

<head>
    <meta charset="utf-8" />
    <title>About Etel Adnan</title>
    <link rel="stylesheet" href="/style-works.css">
</head>

<body>
<section>
    <h1> Major Works</h1>

<div id= works>
<div id=literature>
    <h2>Literary Works</h2>
    <img id=book src="\ethelbook.jpg"> 
    <p>Adnan’s poetry incorporates surrealist imagery and powerful metaphorical leaps with language-based and formal experimentation, using unexpected and experimental techniques to address the nature of exile and political, social, and gender-based injustice. Adnan is the author of numerous books of prose and poetry.</p>

</div>
<div id=paitnings >
<h2> Paintings</h2>
<img id= painting-img src="\etelpainting.jpg ">
<p> Adnan said that ‘colours exist for me as entities in themselves, as metaphysical beings, like the attributes of God exist as metaphysical entities’, and this idea continued to be a key characteristic of her work.</p>

</div>

</div>


</section>

</body>
</html>